.c0{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: -30px;
}
.c01{
    margin-left: 300px;
    margin-top: 50px;
}
.c02{
    margin-left: 300px;
    margin-top: 50px;
}
.c03{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.c04{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: -50px;
}

.c05{
    margin-left: 300px;
    margin-top: 1px;
    margin-bottom: -50px;
}
.c06{
    margin-left: 300px;
    margin-top: 1px;
    margin-bottom: -50px;
}
.c07{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: -50px;
}

