body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
  }


.c1{
    margin-left: 150px;
}
.c2{
    margin-left: 190px;
    margin-top: 5px;
}
.c8{
    margin-left: 380px;
    margin-top: -21px;
}
.c3{
    margin-left: 190px;
    margin-top: 40px;
}
.c12{
     margin-top: -19px;
     margin-left: 190px;


}
.c13{
    margin-left: 190px;
    margin-top: -20px;
    color: blue;
}    
.c4{
    margin-left: 190px;
    margin-top: 1px;
}
.c5{
    margin-left: 190px;
    margin-top: -20px;
}
.c6{
     margin-left: 230px;
     margin-top: 1px;
     color: blue;
}
.c7{
    margin-left: 800px;
    margin-top: -390px;
}
.c23{
    margin-left: 800px;
    margin-top: -200px;
}
.c22{
    margin-left: 500px;
    margin-top: -70px;
    
}
.c41{
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: -6px;
}
.c40{
    margin-left: 220px;
    margin-top: -2px;
}
.c17{
    margin-left: 193px;
    margin-bottom: -40px;
}
.c90{
    margin-left: 190px;
    margin-top: -15px;
}
.c66{
    margin-left: 190px;
    margin-top: -20px;
}
.c67{
    margin-left: 189px;
}
.c77{
    margin-left: 800px;
}
.c99{
    margin-left: 190px;
    margin-bottom: 5px;
}
.c88{
    margin-left: 189px;
    margin-top: -10px;
}
.c55{
    margin-left: 350px;
    margin-top: -43px;
}